@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@500&family=Roboto:ital,wght@0,700;1,400&display=swap');


* body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}


body{
  background-color: gainsboro;
}

ul{
  list-style: none;
}


.personal, .skills, .Languages{
  padding: 1rem;
  line-height: 2;
}
main {
  display: grid;
  margin:1rem;
  grid-template-columns: 33% 1fr;
  grid-gap:1rem ;
  filter: drop-shadow(0 0 0.4rem black)
}

.left , .experience ,.education{
  background-color: white;
}

.left-image {
  position: relative;
}
.left-omage img {
  width: 100%;
}

.left-image h2 {
  position: absolute;
  bottom: 0;
  left: 1rem;
}



.experience, .education{
  line-height: 2;
  padding: 2rem;
}

.experience ul{
  margin: 1rem;
}

.date{
  color: rgb(19, 194, 43);
}
.current{
  background-color: green;
  color: white;
  padding: 0.2rem;
  border-radius: 4px;
}


.education ul{
  margin: 2rem 0;
}

i {
  color: green;
}
footer{
  background-color: green;
  padding: 1.5rem 0;
  text-align: center;
  line-height: 1.5;
  color: white;
}

footer i{
  color: white;
}